*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
}
.app-title{
    text-align: center;
    margin: 50px auto 80px;
}
h3{
    font-size: 32px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
hr{
    border: 2px solid #000;
    width: 20%;
    margin: 10px auto;
}
.section-center{
    display: flex;
}
.menu{
    text-align: center;
    height: 50vh;
    border: 2px solid #000;
    padding: 3rem 3rem;
    border-radius: 0 64px 120px 0;
    margin-right: 16px;
}
.menu-btns{
    display: flex;
    flex-direction: column;
}
.filter-btn{
    background: transparent;
    border: none;
    outline: none;
    text-align: left;
    margin: 10px 0 15px -20px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0e0ea7;
    border-bottom: 2px solid #000;
    width: 50px;
}
.filter-btn:hover{
    transition: ease-in 150ms;
    cursor: pointer;
}
.products{
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem 2rem;
}
.products img{
    object-fit: cover;
    width: 350px;
    height: 260px;
    border: 1px solid black;
}

@media screen and (max-width: 768px) {
    .section-center{
        flex-direction: column;
    }
    .menu{
        border: none;
        padding: 0;
    }
    .menu-btns{
        display: inline;
        text-align: center;
        margin-bottom: 0;
    }
    .filter-btn{
        padding: 1em 2em;
        border: 1px solid #000;
        border-radius: 30px;
        margin-left: 10px;
        width: 25%;
    }
    .products{
        display: flex;
        flex-direction: column;
    }
}